#fixed-block
{
	height: 45px;
	width: 100%;
}

#fixed-content
{
	height: 100%;
	width: 100%;
}

h1
{
	margin-top: 0;
}

h2
{
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 5px;
	font-weight: 400;
}

#awards
{
	list-style-type: square;
	padding-left: 20px;
	font-size: 16px;
}

#awards li
{
	margin-bottom: 4px;
}

#right-block
{
	font-size: 17px;
	font-weight: 300;
	text-align: justify;
}

/** PART DE CONTACT **/
a{
	color: black;
	text-decoration: none;
	font-weight: 400;
}

#developer{
	font-size: 12px;
	font-weight: 300;
	width: 100%;
	text-align: center;
	/*padding-bottom: 10px;*/
}

h2
{
	margin-top: 40px;
}

i{ vertical-align: middle; display: inline-block;  }

#download{ 
	font-size: 25px;
	font-weight: 700;
	margin-left: 10px;
	vertical-align: middle;
	display: inline-block; 
	text-transform: uppercase;
	letter-spacing: -2px;
}

@media screen and (max-width:800px){

	#fixed-content{ height: initial; }

	#left-block
	{
		box-sizing: border-box;
		padding: 20px 5% 20px 5%;
		width: 100%;
	}

	#right-block
	{
		box-sizing: border-box;
		padding: 0 5% 20px 5%;
		width: 100%;
	}

	#enric-image
	{
		display: block;
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width:801px){

	#wrapper
	{
		position: fixed;
		width: 100%;
		top: 50%;
		padding-top: 45px;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}

	#left-block
	{
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		height: 700px;
		/*padding: 0 5% 0 20%;*/
	}

	#right-block
	{
		box-sizing: border-box;
		vertical-align: middle;
		display: inline-block;
		width: 49%;
		padding-right: 15%;
		padding-left: 5%;
	}

	@media screen and (max-width:1200px){
		#right-block
		{
			padding-right: 10%;
		}
	}

	@media screen and (max-height:800px){
		#left-block{ height: 550px; }
	}

	#enric-image
	{
		display: block;
		height: 100%;
		width: auto;
		float: right;
		padding-right: 5%;
		vertical-align: middle;
	}

	@media screen and (min-height:746px){
		@media screen and (max-width:1000px){
			#left-block{ height: 550px; }
		}
	}

	#developer{
		position:fixed;
		bottom:10px;/*
		width: 100%;
		text-align: center;
		padding-bottom: 10px;*/
	}
}
