#content-wrapper
{
  /*background-image: url("../img/backgrounds/background.jpg");*/
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*@media screen and (max-width:800px){
	#content-wrapper
	{
	  background-image: url("../img/background-mobile.jpg");
	}
}*/

#logo-home
{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: auto;
	bottom: 40px;
	position: fixed;	
}