html, body {
	font-family:'Roboto';
	font-weight:500;
	margin:0;
	padding:0;
	height: 100%;
}

#menu-bar{
	top:0px;
	width:100%;
	position:fixed;
	z-index:100;
	background-color:black;
	height: 45px;
	text-align: right;
}

#menu-bar .logo{
	float: left;
	line-height: 45px;
	margin-top:auto;
	margin-bottom:auto;
	height: 100%;
	margin-left: 30px;
}

#menu-bar .logo img{
	height: 20px;
	vertical-align: middle;
	margin-bottom: 3px;
}

ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
 
#video-wrapper{
	width: 100%;
	height: 100%;
}

#full-video{
	width: 100%;
	height: 100%;
	display: inline-block;
}

#content-wrapper{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}

#copyright{
	text-align: center;
	font-weight: 300;
	font-size: 12px;
}

@media screen and (max-width:800px){
	#navigation { 
		display: none;
		/*display: inline-block;*/
		width: 100%;
		background-color: black;
		text-align: left;
	}
	
	#navigation li  {
		padding-left: 30px;
		font-size: 11px;
		text-transform: uppercase;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#navigation li a,
	#navigation li a:visited
	 {
		letter-spacing: 2px;
		display:inline-block;
		line-height: 30px;
		height:100%;
		color: white;
		text-decoration: none;
	}
	
	#menu-bar li a img{
		margin: 0;
		height: 20px;
		vertical-align: middle;
	}

	ul#navigation li a:hover{ color: grey; }

	ul.sub_navigation {
		display:none;
		background-color:black;
	}
	 
	ul.sub_navigation li {
		clear:both;
		margin-right: 0px;
	}
	
	/*----------*/
	#menu-bar #menu-icon{
		float:right;
		line-height: 45px;
		margin-top:auto;
		margin-bottom:auto;
		margin-right: 20px;
		color: white;
	}
	#menu-bar #menu-icon:visited{ color: white; }
	#menu-bar #menu-icon i{ vertical-align: middle; }
	/*#menu-bar #menu-icon img{ height: 30px; vertical-align: middle; color: white; }*/
	
	#carousel {
		width: 100%;
		display:block;
		padding-top: 45px;
	}
	#slides {
		width:100%;
	}
	#slides ul {
		margin:0;
		padding:0;  
		width:100%;
	}
	#slides li {
		height:100%;
		margin: 10px;
	}
	#slides li img {
		height: auto;
		width: 100%;
	}
	a#prev {
		display: none;
	}
	a#next {
		display:none;
	}
	.arrow{
		display:none;
	}
}

/** THESIS **/
#text-block{
	padding-top: 45px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	text-align: justify;
}

@media screen and (min-width:801px){

	#background{
		width: 100%;
		height: auto;
	}

	/* HEADER */
	ul#navigation {
		display:inline-block;
	}
	 
	ul#navigation li  {
		float:left;
		font-size: 11px;
		text-transform: uppercase;
	}

	#menu-bar li a img{
		margin: 0;
		height: 20px;
		vertical-align: middle;
	}
	#menu-bar li a i{
		vertical-align: middle;
	}

	ul#navigation li a,
	ul#navigation li a:visited
	 {
		margin-right: 15px;
		margin-left: 15px;
		letter-spacing: 2px;
		display:inline-block;
		line-height: 45px;
		height:100%;
		color: white;
		text-decoration: none;
	}

	ul#navigation li a:hover
	{
		color: grey;
		border-bottom: 5px solid yellow;
	}
	ul#navigation .dropdown a:hover{ border-bottom: 0px; }

	ul#navigation li a img:hover { color: grey; }

	ul.sub_navigation {
		position:absolute;
		display:none;
		background-color:black;
		border-bottom: 5px solid #e5ff07;
	}
	 
	ul.sub_navigation li {
		clear:both;
		margin-right: 0px;
	}
	 
	#menu-bar #menu-icon{ display: none; }

	#carousel {
		width: 100%;
		height: 700px;
		/*display:inline-block;*/
		position: fixed;
		top: 50%;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
		padding-top: 45px;
	}

	/* carrousel + copyright */
	@media screen and (max-height:783px){
		#carousel{ height: 600px; }
	}
	
	@media screen and (max-height:683px){
		#carousel{ height: 500px; }
	}

	#slides {
		overflow:hidden;
		/*position:relative;*/
		width:100%;
		height: 100%;
		/*display:inline-block;*/
	}
	/* remove the list styles, width : item width * total items */    
	#slides ul {
		position:relative;
		left:30px;
		top:0;
		/*list-style:none;*/
		margin:0;
		padding:0;  
		height:100%;
		width:200%;
	}

	#slides li {
		height:100%; 
		margin-right: 30px;
		float:left;
	}
	#slides li img {
		height: 100%;
		width: auto;
	}

	a#prev {
		color: black;
		position: absolute;
		left: 10px;
		z-index: 2;	
		text-decoration: none;
		display: none;
		top: 50%;
		-ms-transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
	}

	a#next {
		color: black;
		position: absolute;
		right: 10px;
		z-index: 2;
		text-decoration: none;
		display:none;	
		top: 50%;
		-ms-transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
	}

	.arrow{
		height: 60px;
	}

	.clear {clear:both}

}
